@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.notification-menu-wrapper {
	font-family: 'Roboto', sans-serif;
	position: relative;
	width: 2rem;
	height: 2rem;
}

.notification-icon-wrapper {
	width: 100%;
	height: 100%;
	border-radius: 4px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.notification-icon-wrapper-light {
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(205, 200, 200);
}

.notification-icon-wrapper-dark {
	background-color: rgb(51, 51, 51);
	border: 1px solid rgb(82, 82, 82);
}

.bell-icon {
	width: 1.5rem;
	height: 1.5rem;
	transition: all 200ms ease;
}

.notification-icon-wrapper:hover .bell-icon {
	transition: all 200ms ease;
	transform: scale(1.1);
}

.notification-icon-wrapper:hover {
	cursor: pointer;
}

.notifications-wrapper {
	border-radius: 8px;
	position: absolute;
	top: 2.6rem;
	left: 50%;
	width: 450px;
	padding: 8px;
	background-color: rgba(240, 240, 240, 0.2);
}

.notifications-wrapper-light {
	background-color: rgba(240, 240, 240, 0.2);
}

.notifications-wrapper-dark {
	background-color: rgba(51, 51, 51, 0.3);
	border: 1px solid rgb(44, 44, 44);
}

.notifications-wrapper-left {
	transform: translateX(calc(-100% + 1.5rem));
}

.notifications-wrapper-center {
	transform: translateX(-50%);
}

.notifications-wrapper-right {
	transform: translateX(-1.5rem);
}

.single-notification-wrapper {
	background-color: rgb(212, 236, 228);
	margin: 0;
	padding: 0.6rem;
	border-radius: 10px;
	margin-bottom: 6px;
}

/* Light mode color classes */
.single-notification-wrapper-light-info {
	background-color: rgb(190, 227, 248);
	border: 1px solid rgb(143, 197, 228);
}

.single-notification-wrapper-light-success {
	background-color: rgb(198, 246, 213);
	border: 1px solid rgb(141, 230, 169);
}

.single-notification-wrapper-light-warning {
	background-color: rgb(254, 235, 200);
	border: 1px solid rgb(229, 196, 135);
}

.single-notification-wrapper-light-error {
	background-color: rgb(254, 215, 215);
	border: 1px solid rgb(235, 158, 138);
}

/* Dark mode color classes */
.single-notification-wrapper-dark-info {
	background-color: rgb(45, 60, 76);
	border: 1px solid rgb(26, 49, 74);
	color: #c2c2c2;
}

.single-notification-wrapper-dark-success {
	background-color: rgb(45, 65, 66);
	border: 1px solid rgb(26, 65, 67);
	color: #c2c2c2;
}

.single-notification-wrapper-dark-warning {
	background-color: rgb(62, 61, 60);
	border: 1px solid rgb(60, 51, 42);
	color: #c2c2c2;
}

.single-notification-wrapper-dark-error {
	background-color: rgb(62, 56, 65);
	border: 1px solid rgb(55, 36, 64);
	color: #c2c2c2;
}

.single-notification-title {
	margin: 0;
	font-weight: 500;
	margin-bottom: 2px;
}

.single-notification-title-light {
	color: #000;
}

.single-notification-title-dark {
	color: #fff;
}

.single-notification-body {
	margin: 0;
}

.single-notification-body-light {
	color: #000;
}

.single-notification-body-dark {
	color: rgb(222, 222, 222);
}
